In [2]:
import pandas as pd

In [3]:
mydata=pd.read_csv(r"C:\Users\Tanmaya Chaudhary\Desktop\DataSets-master\Bmi_male_female.csv")

In [4]:
mydata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [5]:
#Data Separation INPUT!OUTPUT
X_input=mydata.iloc[:,0:3]  #all rows with 0,1,2 column of data set   
Y_output=mydata.iloc[:,3]  # Y_output type is Series

In [6]:
#X_input.shape
#X_input

In [7]:
Index_name=pd.Series(["Extremely Weak","Weak","Normal","Over Weight","Obesity","Extreme Obesity"])

In [8]:
#Encode Male....0,Female...1
X_input.Gender[X_input.Gender=="Male"]=0
X_input.Gender[X_input.Gender=="Female"]=1

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
type(X_input)

pandas.core.frame.DataFrame

In [10]:
type(Y_output)

pandas.core.series.Series

In [11]:
#Reshape ....Array
XA_Input=X_input.values.reshape(500,3)
YA_output=Y_output.values.reshape(500,1)

In [12]:
#XA_Input
#YA_output

In [13]:
#type(XA_Input)
#XA_Input
#type(YA_output)
#YA_output

In [14]:
#Spliting into tranning & testing set[70:30]
X_train=XA_Input[:350]
X_test=XA_Input[350:]
Y_train=YA_output[:350]
Y_test=YA_output[350:]

In [15]:
X_train.shape

(350, 3)

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [56]:
teacher=KNeighborsClassifier()  #we can also use "n_neighbors = 6" in the parentheses of to change the value of "K"

In [57]:
learner=teacher.fit(X_train,Y_train)

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [58]:
i=learner.predict([[0,180,72]])
Index_name[i]

2    Normal
dtype: object

In [59]:
#Testing
#X_test[150]......Y_test
YA=Y_test
YP=learner.predict(X_test)

In [60]:
YAList=list(YA)
YPlist=list(YP)

In [61]:
table=pd.DataFrame({"YA":YAList,"YP":YPlist})

In [62]:
table

      YA  YP
0    [2]   3
1    [2]   2
2    [2]   2
3    [5]   5
4    [0]   0
5    [3]   3
6    [4]   4
7    [5]   5
8    [1]   1
9    [4]   5
10   [1]   1
11   [4]   5
12   [5]   5
13   [4]   4
14   [5]   5
15   [5]   4
16   [3]   3
17   [4]   4
18   [5]   5
19   [4]   4
20   [3]   3
21   [5]   5
22   [1]   1
23   [2]   2
24   [4]   4
25   [5]   5
26   [5]   5
27   [5]   5
28   [5]   4
29   [3]   3
..   ...  ..
120  [5]   5
121  [5]   5
122  [2]   2
123  [5]   4
124  [3]   3
125  [4]   4
126  [5]   5
127  [2]   2
128  [2]   2
129  [5]   5
130  [5]   5
131  [4]   4
132  [5]   5
133  [4]   5
134  [4]   4
135  [4]   4
136  [5]   5
137  [2]   2
138  [4]   4
139  [5]   5
140  [2]   2
141  [5]   5
142  [0]   0
143  [1]   2
144  [5]   5
145  [5]   5
146  [4]   4
147  [5]   5
148  [5]   5
149  [5]   5

[150 rows x 2 columns]

In [63]:
table.head(1)

    YA  YP
0  [2]   3

In [64]:
# Calculating Accuracy of the model.
from sklearn.metrics import accuracy_score

In [65]:
acc=accuracy_score(YA,YP)*100
acc

91.33333333333333